@import '../../base.scss';

.watchScreen__player {
	aspect-ratio: 5/3;
	//background-color: #353946;
	width: 100%;
	margin-bottom: 2rem;
}

@media (max-width: $breakpoint-small) {
	.watchScreen__player {
		height: 35vh;
	}
}
